name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      # Client
      - name: Install client deps
        run: cd client && npm install

      - name: Lint client
        run: cd client && npm run lint

      - name: Build client
        run: cd client && npm run build

      # Server
      - name: Install server deps
        run: cd server && npm install
